* ,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    width: 100%;
    height: 675px;
}

.gambar{
    /* background-color: aqua; */
    background-image: url(supramk5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
}

.text-background{
    background-color: aliceblue;
    text-align: center;
    width: 600px;
    height: 500px;
    margin: auto;
    /* align-items: center;
    justify-content: center; */
}

.text-background h2{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

.text-background h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
}